
/* Algemeen */
html {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Social Media Buttons */

  .icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }

  .icon-bar a:hover {
    background-color: #ae9287;
  }

  .phone {
    background: #89ae85;
    color: white;
  }

  .email {
    background: #d4554c;
    color: white;
  }

  .linkedin {
    background: #0688bc;
    color: white;
  }

/* Responsiveness */
/* Schermgrootte 1 */
@media only screen and (max-width: 480px) {

  body {
    font-family: 'Questrial', sans-serif;
    color: #676767;
    font-weight: normal;
    text-align: left;
    padding: 0px;
    margin: 0px;
    max-height: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'nav nav'
      'opdrachttitel opdrachttitel'
      'leftbutton rightbutton'
      'sectieeen sectieeen'
      'sectiea sectiea'
      'sectietwee sectietwee'
      'sectieb sectieb'
      'sectiedrie sectiedrie'
      'sectiec sectiec'
      'titeleen titeleen'
      'titeleen titeleen'
      'slideshoween slideshoween'
      'titeltwee titeltwee'
      'slideshowtwee slideshowtwee'
      'titeldrie titeldrie'
      'slideshowdrie slideshowdrie'
      'contact contact';
  }

  h1 {
  font-family: "Questrial";
  font-size: 23px;
  color: #7b5459;
  margin: 0px;
  }

  h2 {
    font-family: "Questrial";
    text-align: left;
    font-size: 20px;
    color: #B76E79;
    padding: 0px;
    margin: 0px;
  }

  img {
    margin: 20px;
    width: 250px;
  }

  /* nav */
  #nav {
    position: fixed;
    background-color: #ebddd5;
    width: 100%;
    z-index: 10;
    grid-area: nav;
    box-shadow: 0px 0px 10px 0px #CABDB3;
  }

  li {
    display: inline;
    margin-right: 20px;
  }

  .name {
    float: left;
  }

  .menu {
    float: left;
  }

  li > a {
    text-decoration: none;
    color: #7b5459;
  }

  a {
    text-decoration: none;
    color: #7b5459;
  }

  a:hover {
    text-decoration: none;
    color: #B76E79;
  }


  /* Opdrachten portfolio*/

  #leftbutton {
    grid-area: leftbutton;
    background-color: #ebddd5;
    height: auto;
    margin: 0px;
    padding: 0px 0px 20px 30px;
  }

  button {
    color: white;
    background-color: #7b5459;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
  }

  button:hover {
    color: white;
    background-color: #B76E79;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }

  #rightbutton {
    grid-area: rightbutton;
    background-color: #ebddd5;
    height: auto;
    margin: 0px;
    padding: 0px 30px 20px 0px;
  }

  #opdrachttitel {
    grid-area: opdrachttitel;
    background-color: #ebddd5;
    height: 50px;
    margin: 0px;
    padding: 100px 0px 20px 0px;
  }

  #opdrachttitel > h1 {
    margin: 0px auto;
    text-align: center;
  }

  #sectie1 {
    grid-area: sectieeen;
    background-color: white;
    height: auto;
    margin: 0px auto;
    padding: 0px;
  }

  #sectie1 h2, #sectie1 p {
    padding: 20px 50px 0px 70px;
    text-align: center;
  }

  #sectie1a {
    grid-area: sectiea;
    background-color: white;
    width: auto;
    margin: 0px auto;
    text-align: center;
    padding: 0px;
  }

  #sectie2 {
    grid-area: sectietwee;
    background-color: #ebddd5;
    height: auto;
    margin: 0px auto;
    padding: 0px;
  }

  #sectie2 h2, #sectie2 p {
    padding: 20px 50px 0px 70px;
    text-align: center;
  }

  #sectie2b {
    grid-area: sectieb;
    background-color: #ebddd5;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    padding: 0px;
  }

  #sectie3 {
    grid-area: sectiedrie;
    background-color: white;
    height: auto;
    text-align: center;
    margin: 0px auto;
    padding: 0px;
  }

  #sectie3 h2, #sectie3 p {
    padding: 20px 50px 0px 70px;
    text-align: center;
  }

  #sectie3 > video {
    padding-top: 20px;
    height: 230px;
    width: 130px;
  }

  #sectie3c {
    grid-area: sectiec;
    background-color: white;
    width: auto;
    margin: 0px auto;
    text-align: center;
    padding: 0px;
  }

  #sectie3c > video {
    padding-top: 20px;
    height: 200px;
    width: 250px;
  }

  /* Slideshow */

  #titel1 {
    grid-area: titeleen;
    background-color: white;
    height: auto;
    margin: 0px;
    padding: 0px 50px;
    text-align: center;
  }

  #titel1 > p {
    width: 250px;
    text-align: center;
    margin: auto;
  }

  #titel2 {
    grid-area: titeltwee;
    background-color: #ebddd5;
    height: auto;
    margin: 0px;
    padding: 0px 50px;
    text-align: center;
  }

  #titel2 > p {
    width: 250px;
    text-align: center;
    margin: auto;
  }


  #titel3 {
    grid-area: titeldrie;
    background-color: white;
    height: auto;
    margin: 0px;
    padding: 0px 50px;
    text-align: center;
  }

  #titel3 > p {
    width: 250px;
    text-align: center;
    margin: auto;
  }


  #slideshow1 {
    grid-area: slideshoween;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0px;
    padding: 0px;
    
    width: 100%;
    height: 100%;
  }

  #slideshow2 {
    grid-area: slideshowtwee;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebddd5;
    margin: 0px;
    padding: 0px;
    
    width: 100%;
    height: 100%;
  }

  #slideshow3 {
    grid-area: slideshowdrie;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0px;
    padding: 0px;
    
    width: 100%;
    height: 100%;
  }

  .card1 , .card2 , .card3{
    position: relative;
    
    width: 300px;
    height: 200px;
    overflow: hidden;

    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }

  /*Light blue cover above the slide show*/
  .card1::after , .card2::after , .card3::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 900;

    display: block;
    width: 100%;
    height: 100%;
  }

  .card1_part{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
    transform: translateX( 700px );
    background-image: url("../images/fotografie/f1.png");
    background-size: 100%;
    
    animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
  }


  .card1_part.card1_part-two {
    z-index: 6;
    background-image: url("../images/fotografie/f2.png");
    animation-delay: 7s;
  }

  .card1_part.card1_part-three {
    z-index: 5;
    background-image: url("../images/fotografie/f3.png");
    animation-delay: 14s;
  }

  .card1_part.card1_part-four {
    z-index: 4;
    background-image: url("../images/fotografie/f6.png");
    animation-delay: 21s;
  }

  .card2_part{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
    transform: translateX( 700px );
    background-image: url("../images/fotografie/b1.png");
    background-size: 100%;
    
    animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
  }

  .card2_part.card2_part-two {
    z-index: 6;
    background-image: url("../images/fotografie/b2.png");
    animation-delay: 7s;
  }

  .card2_part.card2_part-three {
    z-index: 5;
    background-image: url("../images/fotografie/b3.png");
    animation-delay: 14s;
  }

  .card2_part.card2_part-four {
    z-index: 4;
    background-image: url("../images/fotografie/b4.png");
    animation-delay: 21s;
  }

  .card3_part{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
    transform: translateX( 700px );
    background-image: url("../images/fotografie/tr1.png");
    background-size: 100%;
    
    animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
  }

  .card3_part.card3_part-two {
    z-index: 6;
    background-image: url("../images/fotografie/tr2.png");
    animation-delay: 7s;
  }

  .card3_part.card3_part-three {
    z-index: 5;
    background-image: url("../images/fotografie/tr3.png");
    animation-delay: 14s;
  }

  .card3_part.card3_part-four {
    z-index: 4;
    background-image: url("../images/fotografie/tr6.png");
    animation-delay: 21s;
  }


  @keyframes opaqTransition {
    3% { transform: translateX( 0 ); }
    25% { transform: translateX( 0 ); }
    28% { transform: translateX( -700px ); }
    100% { transform: translateX( -700px ); }
  }

  /* Contact */

  #contact {
    background: #ebddd5 url("../images/mobiel.png") no-repeat;
    background-size: 100px;
    background-position: 0px 750px;
    height: 100%;
    grid-area: contact;
  }

}

/* Schermgrootte 2 */
@media only screen and (min-width: 481px) and (max-width: 660px) {

  body {
    font-family: 'Questrial', sans-serif;
    color: #676767;
    font-weight: normal;
    text-align: left;
    padding: 0px;
    margin: 0px;
    max-height: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'nav nav'
      'opdrachttitel opdrachttitel'
      'leftbutton rightbutton'
      'sectieeen sectieeen'
      'sectiea sectiea'
      'sectietwee sectietwee'
      'sectieb sectieb'
      'sectiedrie sectiedrie'
      'sectiec sectiec'
      'titeleen titeleen'
      'titeleen titeleen'
      'slideshoween slideshoween'
      'titeltwee titeltwee'
      'slideshowtwee slideshowtwee'
      'titeldrie titeldrie'
      'slideshowdrie slideshowdrie'
      'contact contact';
  }

  h1 {
  font-family: "Questrial";
  font-size: 23px;
  color: #7b5459;
  margin: 0px;
  }

  h2 {
    font-family: "Questrial";
    text-align: left;
    font-size: 20px;
    color: #B76E79;
    padding: 0px;
    margin: 0px;
  }

  img {
    margin: 20px;
    width: 250px;
  }

  /* nav */
  #nav {
    position: fixed;
    background-color: #ebddd5;
    width: 100%;
    z-index: 10;
    grid-area: nav;
    box-shadow: 0px 0px 10px 0px #CABDB3;
  }

  li {
    display: inline;
    margin-right: 20px;
  }

  .name {
    float: left;
  }

  .menu {
    float: left;
  }

  li > a {
    text-decoration: none;
    color: #7b5459;
  }

  a {
    text-decoration: none;
    color: #7b5459;
  }

  a:hover {
    text-decoration: none;
    color: #B76E79;
  }


  /* Opdrachten portfolio*/

  #leftbutton {
    grid-area: leftbutton;
    background-color: #ebddd5;
    height: auto;
    margin: 0px;
    padding: 0px 0px 20px 30px;
  }

  button {
    color: white;
    background-color: #7b5459;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
  }

  button:hover {
    color: white;
    background-color: #B76E79;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }

  #rightbutton {
    grid-area: rightbutton;
    background-color: #ebddd5;
    height: auto;
    margin: 0px;
    padding: 0px 30px 20px 0px;
  }

  #opdrachttitel {
    grid-area: opdrachttitel;
    background-color: #ebddd5;
    height: 50px;
    margin: 0px;
    padding: 100px 0px 20px 0px;
  }

  #opdrachttitel > h1 {
    margin: 0px auto;
    text-align: center;
  }

  #sectie1 {
    grid-area: sectieeen;
    background-color: white;
    height: auto;
    margin: 0px auto;
    padding: 0px;
  }

  #sectie1 h2, #sectie1 p {
    padding: 20px 50px 0px 70px;
    text-align: center;
  }

  #sectie1a {
    grid-area: sectiea;
    background-color: white;
    width: auto;
    margin: 0px auto;
    text-align: center;
    padding: 0px;
  }

  #sectie2 {
    grid-area: sectietwee;
    background-color: #ebddd5;
    height: auto;
    margin: 0px auto;
    padding: 0px;
  }

  #sectie2 h2, #sectie2 p {
    padding: 20px 50px 0px 70px;
    text-align: center;
  }

  #sectie2b {
    grid-area: sectieb;
    background-color: #ebddd5;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    padding: 0px;
  }

  #sectie3 {
    grid-area: sectiedrie;
    background-color: white;
    height: auto;
    text-align: center;
    margin: 0px auto;
    padding: 0px;
  }

  #sectie3 h2, #sectie3 p {
    padding: 20px 50px 0px 70px;
    text-align: center;
  }

  #sectie3 > video {
    padding-top: 20px;
    height: 230px;
    width: 130px;
  }

  #sectie3c {
    grid-area: sectiec;
    background-color: white;
    width: auto;
    margin: 0px auto;
    text-align: center;
    padding: 0px;
  }

  #sectie3c > video {
    padding-top: 20px;
    height: 200px;
    width: 250px;
  }

  /* Slideshow */

  #titel1 {
    grid-area: titeleen;
    background-color: white;
    height: auto;
    margin: 0px;
    padding: 0px 50px;
    text-align: center;
  }

  #titel1 > p {
    width: 250px;
    text-align: center;
    margin: auto;
  }

  #titel2 {
    grid-area: titeltwee;
    background-color: #ebddd5;
    height: auto;
    margin: 0px;
    padding: 0px 50px;
    text-align: center;
  }

  #titel2 > p {
    width: 250px;
    text-align: center;
    margin: auto;
  }


  #titel3 {
    grid-area: titeldrie;
    background-color: white;
    height: auto;
    margin: 0px;
    padding: 0px 50px;
    text-align: center;
  }

  #titel3 > p {
    width: 250px;
    text-align: center;
    margin: auto;
  }


  #slideshow1 {
    grid-area: slideshoween;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0px;
    padding: 0px;
    
    width: 100%;
    height: 100%;
  }

  #slideshow2 {
    grid-area: slideshowtwee;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebddd5;
    margin: 0px;
    padding: 0px;
    
    width: 100%;
    height: 100%;
  }

  #slideshow3 {
    grid-area: slideshowdrie;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0px;
    padding: 0px;
    
    width: 100%;
    height: 100%;
  }

  .card1 , .card2 , .card3{
    position: relative;
    
    width: 300px;
    height: 200px;
    overflow: hidden;

    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }

  /*Light blue cover above the slide show*/
  .card1::after , .card2::after , .card3::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 900;

    display: block;
    width: 100%;
    height: 100%;
  }

  .card1_part{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
    transform: translateX( 700px );
    background-image: url("../images/fotografie/f1.png");
    background-size: 100%;
    
    animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
  }


  .card1_part.card1_part-two {
    z-index: 6;
    background-image: url("../images/fotografie/f2.png");
    animation-delay: 7s;
  }

  .card1_part.card1_part-three {
    z-index: 5;
    background-image: url("../images/fotografie/f3.png");
    animation-delay: 14s;
  }

  .card1_part.card1_part-four {
    z-index: 4;
    background-image: url("../images/fotografie/f6.png");
    animation-delay: 21s;
  }

  .card2_part{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
    transform: translateX( 700px );
    background-image: url("../images/fotografie/b1.png");
    background-size: 100%;
    
    animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
  }

  .card2_part.card2_part-two {
    z-index: 6;
    background-image: url("../images/fotografie/b2.png");
    animation-delay: 7s;
  }

  .card2_part.card2_part-three {
    z-index: 5;
    background-image: url("../images/fotografie/b3.png");
    animation-delay: 14s;
  }

  .card2_part.card2_part-four {
    z-index: 4;
    background-image: url("../images/fotografie/b4.png");
    animation-delay: 21s;
  }

  .card3_part{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
    transform: translateX( 700px );
    background-image: url("../images/fotografie/tr1.png");
    background-size: 100%;
    
    animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
  }

  .card3_part.card3_part-two {
    z-index: 6;
    background-image: url("../images/fotografie/tr2.png");
    animation-delay: 7s;
  }

  .card3_part.card3_part-three {
    z-index: 5;
    background-image: url("../images/fotografie/tr3.png");
    animation-delay: 14s;
  }

  .card3_part.card3_part-four {
    z-index: 4;
    background-image: url("../images/fotografie/tr6.png");
    animation-delay: 21s;
  }


  @keyframes opaqTransition {
    3% { transform: translateX( 0 ); }
    25% { transform: translateX( 0 ); }
    28% { transform: translateX( -700px ); }
    100% { transform: translateX( -700px ); }
  }

  /* Contact */

  #contact {
    background: #ebddd5 url("../images/mobiel.png") no-repeat;
    background-size: 100px;
    background-position: 0px 750px;
    height: 100%;
    grid-area: contact;
  }


/* Schermgrootte 3 */
@media only screen and (min-width: 661px) and (max-width: 900px) {

  body {
    font-family: 'Questrial', sans-serif;
    color: #676767;
    font-weight: normal;
    text-align: left;
    padding: 0px;
    margin: 0px;
    max-height: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'nav nav'
      'opdrachttitel opdrachttitel'
      'leftbutton rightbutton'
      'sectieeen sectieeen'
      'sectiea sectiea'
      'sectietwee sectietwee'
      'sectieb sectieb'
      'sectiedrie sectiedrie'
      'sectiec sectiec'
      'titeleen titeleen'
      'titeleen titeleen'
      'slideshoween slideshoween'
      'titeltwee titeltwee'
      'slideshowtwee slideshowtwee'
      'titeldrie titeldrie'
      'slideshowdrie slideshowdrie'
      'contact contact';
  }

  h1 {
  font-family: "Questrial";
  font-size: 23px;
  color: #7b5459;
  margin: 0px;
  }

  h2 {
    font-family: "Questrial";
    text-align: left;
    font-size: 20px;
    color: #B76E79;
    padding: 0px;
    margin: 0px;
  }

  img {
    margin: 20px;
    width: 250px;
  }

  /* nav */
  #nav {
    position: fixed;
    background-color: #ebddd5;
    width: 100%;
    z-index: 10;
    grid-area: nav;
    box-shadow: 0px 0px 10px 0px #CABDB3;
  }

  li {
    display: inline;
    margin-right: 20px;
  }

  .name {
    float: left;
  }

  .menu {
    float: left;
  }

  li > a {
    text-decoration: none;
    color: #7b5459;
  }

  a {
    text-decoration: none;
    color: #7b5459;
  }

  a:hover {
    text-decoration: none;
    color: #B76E79;
  }


  /* Opdrachten portfolio*/

  #leftbutton {
    grid-area: leftbutton;
    background-color: #ebddd5;
    height: auto;
    margin: 0px;
    padding: 0px 0px 20px 30px;
  }

  button {
    color: white;
    background-color: #7b5459;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
  }

  button:hover {
    color: white;
    background-color: #B76E79;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }

  #rightbutton {
    grid-area: rightbutton;
    background-color: #ebddd5;
    height: auto;
    margin: 0px;
    padding: 0px 30px 20px 0px;
  }

  #opdrachttitel {
    grid-area: opdrachttitel;
    background-color: #ebddd5;
    height: 50px;
    margin: 0px;
    padding: 100px 0px 20px 0px;
  }

  #opdrachttitel > h1 {
    margin: 0px auto;
    text-align: center;
  }

  #sectie1 {
    grid-area: sectieeen;
    background-color: white;
    height: auto;
    margin: 0px auto;
    padding: 0px;
  }

  #sectie1 h2, #sectie1 p {
    padding: 20px 50px 0px 70px;
    text-align: center;
  }

  #sectie1a {
    grid-area: sectiea;
    background-color: white;
    width: auto;
    margin: 0px auto;
    text-align: center;
    padding: 0px;
  }

  #sectie2 {
    grid-area: sectietwee;
    background-color: #ebddd5;
    height: auto;
    margin: 0px auto;
    padding: 0px;
  }

  #sectie2 h2, #sectie2 p {
    padding: 20px 50px 0px 70px;
    text-align: center;
  }

  #sectie2b {
    grid-area: sectieb;
    background-color: #ebddd5;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    padding: 0px;
  }

  #sectie3 {
    grid-area: sectiedrie;
    background-color: white;
    height: auto;
    text-align: center;
    margin: 0px auto;
    padding: 0px;
  }

  #sectie3 h2, #sectie3 p {
    padding: 20px 50px 0px 70px;
    text-align: center;
  }

  #sectie3 > video {
    padding-top: 20px;
    height: 230px;
    width: 130px;
  }

  #sectie3c {
    grid-area: sectiec;
    background-color: white;
    width: auto;
    margin: 0px auto;
    text-align: center;
    padding: 0px;
  }

  #sectie3c > video {
    padding-top: 20px;
    height: 200px;
    width: 250px;
  }

  /* Slideshow */

  #titel1 {
    grid-area: titeleen;
    background-color: white;
    height: auto;
    margin: 0px;
    padding: 0px 50px;
    text-align: center;
  }

  #titel1 > p {
    width: 250px;
    text-align: center;
    margin: auto;
  }

  #titel2 {
    grid-area: titeltwee;
    background-color: #ebddd5;
    height: auto;
    margin: 0px;
    padding: 0px 50px;
    text-align: center;
  }

  #titel2 > p {
    width: 250px;
    text-align: center;
    margin: auto;
  }


  #titel3 {
    grid-area: titeldrie;
    background-color: white;
    height: auto;
    margin: 0px;
    padding: 0px 50px;
    text-align: center;
  }

  #titel3 > p {
    width: 250px;
    text-align: center;
    margin: auto;
  }


  #slideshow1 {
    grid-area: slideshoween;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0px;
    padding: 0px;
    
    width: 100%;
    height: 100%;
  }

  #slideshow2 {
    grid-area: slideshowtwee;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebddd5;
    margin: 0px;
    padding: 0px;
    
    width: 100%;
    height: 100%;
  }

  #slideshow3 {
    grid-area: slideshowdrie;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0px;
    padding: 0px;
    
    width: 100%;
    height: 100%;
  }

  .card1 , .card2 , .card3{
    position: relative;
    
    width: 300px;
    height: 200px;
    overflow: hidden;

    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }

  /*Light blue cover above the slide show*/
  .card1::after , .card2::after , .card3::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 900;

    display: block;
    width: 100%;
    height: 100%;
  }

  .card1_part{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
    transform: translateX( 700px );
    background-image: url("../images/fotografie/f1.png");
    background-size: 100%;
    
    animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
  }


  .card1_part.card1_part-two {
    z-index: 6;
    background-image: url("../images/fotografie/f2.png");
    animation-delay: 7s;
  }

  .card1_part.card1_part-three {
    z-index: 5;
    background-image: url("../images/fotografie/f3.png");
    animation-delay: 14s;
  }

  .card1_part.card1_part-four {
    z-index: 4;
    background-image: url("../images/fotografie/f6.png");
    animation-delay: 21s;
  }

  .card2_part{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
    transform: translateX( 700px );
    background-image: url("../images/fotografie/b1.png");
    background-size: 100%;
    
    animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
  }

  .card2_part.card2_part-two {
    z-index: 6;
    background-image: url("../images/fotografie/b2.png");
    animation-delay: 7s;
  }

  .card2_part.card2_part-three {
    z-index: 5;
    background-image: url("../images/fotografie/b3.png");
    animation-delay: 14s;
  }

  .card2_part.card2_part-four {
    z-index: 4;
    background-image: url("../images/fotografie/b4.png");
    animation-delay: 21s;
  }

  .card3_part{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
    transform: translateX( 700px );
    background-image: url("../images/fotografie/tr1.png");
    background-size: 100%;
    
    animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
  }

  .card3_part.card3_part-two {
    z-index: 6;
    background-image: url("../images/fotografie/tr2.png");
    animation-delay: 7s;
  }

  .card3_part.card3_part-three {
    z-index: 5;
    background-image: url("../images/fotografie/tr3.png");
    animation-delay: 14s;
  }

  .card3_part.card3_part-four {
    z-index: 4;
    background-image: url("../images/fotografie/tr6.png");
    animation-delay: 21s;
  }


  @keyframes opaqTransition {
    3% { transform: translateX( 0 ); }
    25% { transform: translateX( 0 ); }
    28% { transform: translateX( -700px ); }
    100% { transform: translateX( -700px ); }
  }

  /* Contact */

  #contact {
    background: #ebddd5 url("../images/mobiel.png") no-repeat;
    background-size: 100px;
    background-position: 0px 750px;
    height: 100%;
    grid-area: contact;
  }


/* Schermgrootte 4 */
@media only screen and (min-width: 901px) {

  body {
    font-family: 'Questrial', sans-serif;
    color: #676767;
    font-weight: normal;
    text-align: left;
    padding: 0px;
    margin: 0px;
    max-height: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'nav nav'
      'opdrachttitel opdrachttitel'
      'leftbutton rightbutton'
      'sectieeen sectieeen'
      'sectiea sectiea'
      'sectietwee sectietwee'
      'sectieb sectieb'
      'sectiedrie sectiedrie'
      'sectiec sectiec'
      'titeleen titeleen'
      'titeleen titeleen'
      'slideshoween slideshoween'
      'titeltwee titeltwee'
      'slideshowtwee slideshowtwee'
      'titeldrie titeldrie'
      'slideshowdrie slideshowdrie'
      'contact contact';
  }

  h1 {
  font-family: "Questrial";
  font-size: 23px;
  color: #7b5459;
  margin: 0px;
  }

  h2 {
    font-family: "Questrial";
    text-align: left;
    font-size: 20px;
    color: #B76E79;
    padding: 0px;
    margin: 0px;
  }

  img {
    margin: 20px;
    width: 250px;
  }

  /* nav */
  #nav {
    position: fixed;
    background-color: #ebddd5;
    width: 100%;
    z-index: 10;
    grid-area: nav;
    box-shadow: 0px 0px 10px 0px #CABDB3;
  }

  li {
    display: inline;
    margin-right: 20px;
  }

  .name {
    float: left;
  }

  .menu {
    float: left;
  }

  li > a {
    text-decoration: none;
    color: #7b5459;
  }

  a {
    text-decoration: none;
    color: #7b5459;
  }

  a:hover {
    text-decoration: none;
    color: #B76E79;
  }


  /* Opdrachten portfolio*/

  #leftbutton {
    grid-area: leftbutton;
    background-color: #ebddd5;
    height: auto;
    margin: 0px;
    padding: 0px 0px 20px 30px;
  }

  button {
    color: white;
    background-color: #7b5459;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
  }

  button:hover {
    color: white;
    background-color: #B76E79;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }

  #rightbutton {
    grid-area: rightbutton;
    background-color: #ebddd5;
    height: auto;
    margin: 0px;
    padding: 0px 30px 20px 0px;
  }

  #opdrachttitel {
    grid-area: opdrachttitel;
    background-color: #ebddd5;
    height: 50px;
    margin: 0px;
    padding: 100px 0px 20px 0px;
  }

  #opdrachttitel > h1 {
    margin: 0px auto;
    text-align: center;
  }

  #sectie1 {
    grid-area: sectieeen;
    background-color: white;
    height: auto;
    margin: 0px auto;
    padding: 0px;
  }

  #sectie1 h2, #sectie1 p {
    padding: 20px 50px 0px 70px;
    text-align: center;
  }

  #sectie1a {
    grid-area: sectiea;
    background-color: white;
    width: auto;
    margin: 0px auto;
    text-align: center;
    padding: 0px;
  }

  #sectie2 {
    grid-area: sectietwee;
    background-color: #ebddd5;
    height: auto;
    margin: 0px auto;
    padding: 0px;
  }

  #sectie2 h2, #sectie2 p {
    padding: 20px 50px 0px 70px;
    text-align: center;
  }

  #sectie2b {
    grid-area: sectieb;
    background-color: #ebddd5;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    padding: 0px;
  }

  #sectie3 {
    grid-area: sectiedrie;
    background-color: white;
    height: auto;
    text-align: center;
    margin: 0px auto;
    padding: 0px;
  }

  #sectie3 h2, #sectie3 p {
    padding: 20px 50px 0px 70px;
    text-align: center;
  }

  #sectie3 > video {
    padding-top: 20px;
    height: 230px;
    width: 130px;
  }

  #sectie3c {
    grid-area: sectiec;
    background-color: white;
    width: auto;
    margin: 0px auto;
    text-align: center;
    padding: 0px;
  }

  #sectie3c > video {
    padding-top: 20px;
    height: 200px;
    width: 250px;
  }

  /* Slideshow */

  #titel1 {
    grid-area: titeleen;
    background-color: white;
    height: auto;
    margin: 0px;
    padding: 0px 50px;
    text-align: center;
  }

  #titel1 > p {
    width: 250px;
    text-align: center;
    margin: auto;
  }

  #titel2 {
    grid-area: titeltwee;
    background-color: #ebddd5;
    height: auto;
    margin: 0px;
    padding: 0px 50px;
    text-align: center;
  }

  #titel2 > p {
    width: 250px;
    text-align: center;
    margin: auto;
  }


  #titel3 {
    grid-area: titeldrie;
    background-color: white;
    height: auto;
    margin: 0px;
    padding: 0px 50px;
    text-align: center;
  }

  #titel3 > p {
    width: 250px;
    text-align: center;
    margin: auto;
  }


  #slideshow1 {
    grid-area: slideshoween;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0px;
    padding: 0px;
    
    width: 100%;
    height: 100%;
  }

  #slideshow2 {
    grid-area: slideshowtwee;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebddd5;
    margin: 0px;
    padding: 0px;
    
    width: 100%;
    height: 100%;
  }

  #slideshow3 {
    grid-area: slideshowdrie;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0px;
    padding: 0px;
    
    width: 100%;
    height: 100%;
  }

  .card1 , .card2 , .card3{
    position: relative;
    
    width: 300px;
    height: 200px;
    overflow: hidden;

    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }

  /*Light blue cover above the slide show*/
  .card1::after , .card2::after , .card3::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 900;

    display: block;
    width: 100%;
    height: 100%;
  }

  .card1_part{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
    transform: translateX( 700px );
    background-image: url("../images/fotografie/f1.png");
    background-size: 100%;
    
    animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
  }


  .card1_part.card1_part-two {
    z-index: 6;
    background-image: url("../images/fotografie/f2.png");
    animation-delay: 7s;
  }

  .card1_part.card1_part-three {
    z-index: 5;
    background-image: url("../images/fotografie/f3.png");
    animation-delay: 14s;
  }

  .card1_part.card1_part-four {
    z-index: 4;
    background-image: url("../images/fotografie/f6.png");
    animation-delay: 21s;
  }

  .card2_part{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
    transform: translateX( 700px );
    background-image: url("../images/fotografie/b1.png");
    background-size: 100%;
    
    animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
  }

  .card2_part.card2_part-two {
    z-index: 6;
    background-image: url("../images/fotografie/b2.png");
    animation-delay: 7s;
  }

  .card2_part.card2_part-three {
    z-index: 5;
    background-image: url("../images/fotografie/b3.png");
    animation-delay: 14s;
  }

  .card2_part.card2_part-four {
    z-index: 4;
    background-image: url("../images/fotografie/b4.png");
    animation-delay: 21s;
  }

  .card3_part{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
    transform: translateX( 700px );
    background-image: url("../images/fotografie/tr1.png");
    background-size: 100%;
    
    animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
  }

  .card3_part.card3_part-two {
    z-index: 6;
    background-image: url("../images/fotografie/tr2.png");
    animation-delay: 7s;
  }

  .card3_part.card3_part-three {
    z-index: 5;
    background-image: url("../images/fotografie/tr3.png");
    animation-delay: 14s;
  }

  .card3_part.card3_part-four {
    z-index: 4;
    background-image: url("../images/fotografie/tr6.png");
    animation-delay: 21s;
  }


  @keyframes opaqTransition {
    3% { transform: translateX( 0 ); }
    25% { transform: translateX( 0 ); }
    28% { transform: translateX( -700px ); }
    100% { transform: translateX( -700px ); }
  }

  /* Contact */

  #contact {
    background: #ebddd5 url("../images/mobiel.png") no-repeat;
    background-size: 100px;
    background-position: 0px 750px;
    height: 100%;
    grid-area: contact;
  }

}
